{{#each member.assessments}}
<table class="ui celled table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Weight</th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Upper Arm</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Trend</th>
      <th>Comment</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          {{date}}
        </td>
        <td>
          {{weight}}
        </td>
        <td>
          {{chest}}
        </td>
        <td>
          {{thigh}}
        </td>
        <td>
          {{upperArm}}
        </td>
        <td>
          {{waist}}
        </td>
        <td>
          {{hips}}
        </td>
        <td>
          {{#if trend}}
            <a class="ui teal tag label"></a>
          {{else}}
            <a class="ui red tag label"></a>
          {{/if}}
        </td>
        <td>
          {{comment}}
        </td>
        <td>
          <a href="/member/{{../member.id}}/deleteassessment/{{id}}" class="ui icon button">
           <i class="icon trash"></i>
          </a>
        </td>
      </tr>
    </tbody>
    </table>
    <h4 class="ui headder">
      Comment
    </h4>
    <form class="ui form" action="/member/{{../member.id}}/editComment/{{id}}" method="POST">
      <div class="ui field">
          <input placeholder="Make a comment here" type="text"  name="comment">
      </div>
      <button class="ui blue submit button"> Update </button>
    </form>
    {{/each}}
  
