{{> menu-member}}
<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{member.name}} details
  </h2>
<form class="ui stacked segment form" action="/account/changeName" method="POST">
  <h3 class="ui header">First Name</h3>
  <div class="three fields">
    <div class="field">
      <label>New Name</label>
      <input placeholder="First Name" type="text"  name="name">
    </div>
    <div class="field">
      <label>Change Name</label>
      <button class="ui blue submit button">Change</button>
    </div>
    <div class="field">
      <label>Current Name</label>
      <p>
        {{member.name}}
      </p>
    </div>
  </div>
</form>
<form class="ui stacked segment form" action="/account/changeLastName" method="POST">
  <h3 class="ui header">Last Name</h3>
  <div class="three fields">
    <div class="field">
      <label>New Last Name</label>
      <input placeholder="Last Name" type="text"  name="lastName">
    </div>
    <div class="field">
      <label>Change Last Name</label>
      <button class="ui blue submit button">Change</button>
    </div>
    <div class="field">
      <label>Current Last Name</label>
      <p>
        {{member.lastName}}
      </p>
    </div>
  </div>
</form>
  <form class="ui stacked segment form" action="/account/changeGender" method="POST">
  <h3 class="ui header">Gender</h3>
  <div class="three fields">
    <div class="field">
      <label>New Gender</label>
      <input placeholder="M or F" type="text"  name="gender">
    </div>
    <div class="field">
      <label>Change Gender</label>
      <button class="ui blue submit button">Change</button>
    </div>
    <div class="field">
      <label>Current Gender</label>
      <p>
        {{member.gender}}
      </p>
    </div>
  </div>
</form>
</form>
  <form class="ui stacked segment form" action="/account/changeHeight" method="POST">
  <h3 class="ui header">Height</h3>
  <div class="three fields">
    <div class="field">
      <label>New Height</label>
      <input placeholder="Height" type="text"  name="height">
    </div>
    <div class="field">
      <label>Change Height</label>
      <button class="ui blue submit button">Change</button>
    </div>
    <div class="field">
      <label>Current Height</label>
      <p>
        {{member.height}}
      </p>
    </div>
  </div>
</form>
</section>
